


<div class="hero-unit">
  <h1>Welcome to HL play ground</h1>
  <%= link_to "One Month Rails", "http://onemonthrails.com" %>
  <p>
    <a class="btn btn-primary btn-large">
       Sign Up Now!
    </a>
  </p>
</div>